<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concert.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @concert.price %>
</p>

<p>
  <strong>Done at:</strong>
  <%= @concert.done_at %>
</p>

<p>

<strong>COMENTARIOS:</strong> 




<!-- <%= @concert.inspect%> => RESULT FROM ABOVE INSPECT #<Concert id: 1, artist: "Luke", venue: "Razzmatazz", city: "Barcelona", date: "2016-08-17", description: "an awesome party", price: 15, done_at: nil, created_at: "2016-11-13 17:16:49", updated_at: "2016-11-13 17:16:49"> -->



<!--<%= @concert.comments.inspect%> => RESULT FROM ABOVE INSPECT: #<ActiveRecord::Associations::CollectionProxy []> -->
<!-- where The collection proxy and the [] tells me that it's an array -->



<% @concert.comments.each do |comment| %>
<p><%= comment.comment %></p>
<% end %>

</p>

<%= link_to 'Back', concerts_path %>
<%= link_to 'Add comment', new_concert_comment_path(@concert) %>
